body {
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    max-width: 500px;
}

.exercise {
    padding: 2em;
    width: 25em;
    margin: 2em;
    border: 1px solid #808080;
    border-radius: 0.5em;
}

.exercise:hover {
    background-color: #eeecec;
}

.start-game {
    float: right;
    padding: 1em;
    background-color: #0080ff;
    color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    text-decoration: none;
}

.start-game:hover {
    background-color: #034aa6;
}

#game-area {
    padding: 2em;
    margin: 2em;
    background-color: #eeeeee;
    width: 25em;
}

#progress-bar {
    border: 2px solid black;
    text-align: center;
    margin: 0.1em;
}

.quizz-button {
    font-size: x-large;
    border: 2px solid darkgray;
    width: 4em;
    margin: 0.3em;
}

.quizz-button:hover {
    border: 2px solid gray;
}

#button-area {
    text-align: center;
}

details em {
    font-size: xx-large;
    font-style: normal;
}

.chapter-progress {
    font-size: initial;
}

summary {
    margin-top: 1em;
    margin-bottom: 1em;
}